            {% extends "OCPAppliBundle::layout.html.twig"%}
            {% block title %}{{ parent() }}{% endblock %}
            {% block body %}
                <br><br><br>   
                   <div align="center"><h1>liste des trains</h1></div>
                    <div class="well well-small " align="center">
    <table border="1" width="50%"  class="table table-bordered">
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>modifier</th>
                        <th>supprimer</th>
                    </tr>
                    
                   {%  for p in  parc %}
                       
                       <tr class="success">
                           <td>{{p.id}}</td>
                           <td>{{p.nom}}</td>
                           <td><a class="btn btn-info" href="{{ path('ocp_appli_editparc',{'id':p.id})}}">modifier<a></td>
                                       <td><a class="btn btn-danger" href="{{ path('ocp_appli_deleteparc',{'id':p.id})}}">supprimer</td>
                       </tr>
                       
                       {%endfor%}
                    
                        
                    
                </table>
                    </div>
             
            {% endblock %}