            {% extends "OCPAppliBundle::layout.html.twig"%}
            {% block title %}{{ parent() }}{% endblock %}
            {% block body %}
                        <div class="row">
   
               
             
           
            
                           <div align="center"><h2>
Etes-vous certain de vouloir supprimer le Recu dont le numero est:"{{
recu.id }}" ?
</h2>

<form  action="{{ path('ocp_appli_deleterecu', {'id': recu.id}) }}"method="post">

<input type="submit" value="Supprimer" class="btn btn-danger" />
<a href="{{ path('ocp_appli_showrecu') }}" class="btn btn-primary">Retour</a>

{{ form_rest(form) }}
</form>

            </div>  
            {% endblock %}